/*reset.css*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:25px;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
*,*::before,*::after{
  box-sizing: border-box;
}


/*index.html*/
.s-top-page-wrapper{
  background-color: #F8F5F0;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: 600;
}

.s-nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 5px;
}

.s-nav{
  display: flex;
  font-size: 20px;
}

.s-nav__heading{
  text-decoration: none;
  color: #000000;
}

.s-nav__link{
  text-decoration: none;
  color: #000000;
}

.s-nav__link:hover{
 text-decoration: underline;
}

.s-nav__text{
  padding: 0 40px;
}

.s-top-img{
  width:100%;
  margin-bottom: 100px;
}

.s-inner{
  padding: 0 5%;
}

.s-about-wrapper{
  text-align: center;
  padding-bottom: 100px;
}

.s-title{
  border-top:15px solid #FCE699 ;
  display: inline-block;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.s-text{
  font-size: 14px;
  padding-bottom: 15px;
}

.s-customize{
  line-height: 0.5;
  padding-bottom: 30px;
}

.s-about__detail{
  line-height: 1.4;
}
.s-about__list{
  margin: 0 auto 60px;
  width: 400px;
  text-align: left;
}

.s-member-wrapper{
    text-align: center;
    margin-bottom: 100px;
}

.s-member-inner{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.s-member-img-wrapper{
  width: 280px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 50px;
  padding-top: 40px;
}

.s-member-img{
  width: 215px;
}

.s-how-to-wrapper{
  text-align: center;
  padding-bottom: 80px;
}

.s-how-to-container{
  max-width: 630px;
  background-color: #ffffff;
  border-radius: 20px;
  border-top:30px solid #FCE699 ;
  margin: 0 auto;
  padding: 60px;
  text-align: left;
}

.s-how-to-list{
  list-style: none;
}

.s-how-to-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-how-to-list__item{
  border-bottom: 3px solid #FCE699;
  padding-top: 20px;
}

.s-how-to-list__detail{
  font-size: 20px;
  padding: 20px 0;
  line-height: 1.2;
}

.s-how-to-img-wrapper{
  margin-right: 40px;
}

.s-how-to-img{
  width: 65px;
  height: 65px;
  object-fit: contain;
}

.s-contact-wrapper{
  text-align: center;
  padding-bottom: 80px;
 }

 .s-contact__img{
  width: 70px;
  height: 70px;
  padding-bottom: 20px;
  object-fit: contain;
 }

.s-footer{
  background-color: #000000;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.s-copy-right{
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
}

@media(max-width:768px){
  .s-nav-wrapper{
    padding: 30px 15px 5px;
  }

  .s-nav{
    font-size: 12px;
    align-items: center;
  }
  
  .s-nav__heading{
    font-size: 20px;
  }

  .s-nav__link{
    text-decoration: none;
    color: #000000;
  }
  
  .s-nav__link:hover{
   text-decoration: underline;
  }
  
  .s-nav__text{
    padding: 0 30px;
  }
  
  .s-top-img{
    width:100%;
    margin-bottom: 30px;
  }
  
  .s-about-wrapper{
    text-align: center;
    padding-bottom: 100px;
  }
  
  .s-title{
    border-top:10px solid #FCE699 ;
    display: inline-block;
    width: 160px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  
  .s-text{
    font-size: 14px;
    padding-bottom: 15px;
  }
  
  .s-customize{
    line-height: 0.5;
    padding-bottom: 30px;
  }
  
  .s-about__detail{
    line-height: 1.4;
  }
  .s-about__list{
    width: 300px;
    margin: 0 auto 40px;
  }

  .s-about__list__item{
    font-size: 20px;
  }
  
  .s-about__detail__text{
    font-size: 20px;
  }

  .s-member-wrapper{
      text-align: center;
      margin-bottom: 30px;
  }
  
  .s-member-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  
  .s-member-img-wrapper{
    width: 280px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 50px 20px;
    padding-top: 40px;
  }
  
  .s-member-img{
    width: 200px;
  }

  .s-how-to-wrapper{
    text-align: center;
    padding-bottom: 80px;
  }
  
  .s-how-to-container{
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    border-top:30px solid #FCE699 ;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
  }
  
  .s-how-to-list{
    list-style: none;
  }
  
  .s-how-to-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .s-how-to-list__item{
    border-bottom: 3px solid #FCE699;
    padding-top: 20px;
  }

  .s-how-to-list__heading{
    font-size: 20px;
  }
  
  .s-how-to-list__detail{
    font-size: 16px;
    padding: 20px 0;
    line-height: 1.2;
  }
  
  .s-how-to-img-wrapper{
    margin-right: 10px;
  }

  .s-contact-wrapper{
    text-align: center;
    padding-bottom: 80px;
   }
  
   .s-contact__img{
    width: 70px;
    height: 70px;
    padding-bottom: 20px;
    object-fit: contain;
   }
  
  .s-footer{
    background-color: #000000;
    height: 50px;
    text-align: center;
    padding-top: 10px;
  }
  
  .s-copy-right{
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
  }
}

@media(max-width:450px){
  .s-how-to-inner{
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }
  .s-how-to-img-wrapper {
    margin: 0 auto;
  }
}